@charset "UTF-8";

/*<ШРИФТЫ>========================================================================================================================================*/

@font-face {
  font-family: "FuturaPT";
  font-display: swap;
  src: url("../fonts/FuturaPT-Bold.woff") format("woff"), url("../fonts/FuturaPT-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "FuturaPT";
  font-display: swap;
  src: url("../fonts/FuturaPT-Book.woff") format("woff"), url("../fonts/FuturaPT-Book.woff2") format("woff2");
  font-weight: 350;
  font-style: normal;
}

@font-face {
  font-family: "FuturaPT";
  font-display: swap;
  src: url("../fonts/FuturaPT-Medium.woff") format("woff"), url("../fonts/FuturaPT-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

/*<ПОДКЛЮЧЕНИЕ ШРИФТОВ>===========================================================================================================================*/

/*</ПОДКЛЮЧЕНИЕ ШРИФТОВ>==========================================================================================================================*/

/*</ШРИФТЫ>=======================================================================================================================================*/

/*<ПЕРЕМЕННЫЕ>=========================================================================================================================================*/

/*</ПЕРЕМЕННЫЕ>========================================================================================================================================*/

/*<ОБНУЛЕНИЕ, BODY>===============================================================================================================================*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

:root {
  font-size: 16px;
}

body {
  font-family: "FuturaPT";
  font-weight: 300;
}

body.lock {
  overflow-y: hidden;
}

/*</ОБНУЛЕНИЕ, BODY>==============================================================================================================================*/

/*<ОБОЛОЧКА>======================================================================================================================================*/

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/*</ОБОЛОЧКА>=====================================================================================================================================*/

/*<КОНТЕЙНЕР>=====================================================================================================================================*/

.container {
  margin: 0px auto;
  max-width: 1340px;
  padding: 0px 20px;
}

/*</КОНТЕЙНЕР>====================================================================================================================================*/

/*<ОБЩИЕ КЛАССЫ>==================================================================================================================================*/

.hamburger {
  display: block;
  height: 20px;
  width: 26px;
  position: relative;
  cursor: pointer;
  z-index: 5;
}

.hamburger span {
  -webkit-transition: all .3s ease 0s;
  -o-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
  top: calc(50% - 1px);
  left: 0;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #fff;
  border-radius: 10px;
}

.hamburger span:first-child {
  top: 0;
}

.hamburger span:last-child {
  top: auto;
  bottom: 0;
}

.hamburger.active span {
  background-color: #000;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.hamburger.active span:first-child {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: calc(50% - 1px);
}

.hamburger.active span:last-child {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  bottom: calc(50% - 1px);
}

.title {
  font-weight: bold;
  font-size: 4rem;
}

.title_f {
  color: #FFFFFF;
}

/*</ОБЩИЕ КЛАССЫ>=================================================================================================================================*/

/*<ШАПКА>=========================================================================================================================================*/

.header {
  margin-top: 35px;
  background-color: transparent;
  position: relative;
  width: 100%;
  height: 90px;
  z-index: 3;
}

.header__fixed {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  background-color: #151515;
}

.header__fixed .input.active {
  top: 0;
  height: 90px;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.header__input {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.header__input input {
  padding: 10px 10px 10px 38px;
  width: 400px;
  height: 30px;
  border-radius: 16px;
}

.header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__btn {
  position: relative;
  z-index: 5;
  max-width: 25px;
}

.header__btn img {
  width: 100%;
}

.header__btn:not(:last-child) {
  margin-right: 35px;
}

.menu.active .menu__body {
  right: 0;
}

.menu__body {
  min-width: 346px;
  padding: 72px 74px 82px 74px;
  background-color: #fff;
  position: absolute;
  z-index: 4;
  top: -35px;
  right: -150%;
  -webkit-transition: right .3s;
  -o-transition: right .3s;
  transition: right .3s;
}

.menu__header {
  font-size: 1.5rem;
  color: #000000;
}

.menu__switch span {
  cursor: pointer;
}

.menu__list_main {
  margin-top: 48px;
}

.menu__list_main .menu__link {
  margin-bottom: 15px;
}

.menu__list_main .menu__link a {
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 31px;
  color: #000000;
}

.menu__list_sub {
  margin-top: 40px;
}

.menu__list_sub .menu__link {
  margin-bottom: 15px;
}

.menu__list_sub .menu__link:last-child {
  margin: 0;
}

.menu__list_sub .menu__link a {
  font-size: 1.125rem;
  color: #000000;
}

.menu__link a {
  position: relative;
}

.menu__socials {
  margin-top: 43px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__social {
  cursor: pointer;
  margin-right: 12px;
}

.cart {
  fill: #fff;
  -webkit-transition: fill .3s;
  -o-transition: fill .3s;
  transition: fill .3s;
}

.cart.active {
  fill: #000;
}

.search {
  display: none;
}

.search__close {
  display: none;
  font-size: 3.4375rem;
  margin-left: 15px;
  color: #fff;
}

.input {
  -webkit-transition: top .3s;
  -o-transition: top .3s;
  transition: top .3s;
}

.input__wrapper {
  position: relative;
}

.input__icon {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 14px;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

/*</ШАПКА>========================================================================================================================================*/

/*<ОСНОВНОЙ БЛОК>=================================================================================================================================*/

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.first {
  background: url("../img/first-bg.jpg") center center/cover no-repeat;
  min-height: 100vh;
  position: relative;
  margin-top: -155px;
}

.first.active {
  margin-top: 0;
}

.first__body {
  position: absolute;
  bottom: 20%;
}

.first__name {
  font-size: 1.5rem;
  color: #fff;
  margin-bottom: 6px;
}

.first__title {
  margin-bottom: 25px;
}

.first__link {
  width: 206px;
  height: 41px;
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  font-size: 1.125rem;
  color: #fff;
}

.bg-wrapper {
  background: url("../img/bg.svg") center center/cover no-repeat;
}

.categories {
  padding: 120px 0 0;
  position: relative;
}

.categories__title {
  margin-bottom: 31px;
}

.categories__slide {
  height: 320px;
  -webkit-transform: skewX(-25deg);
      -ms-transform: skewX(-25deg);
          transform: skewX(-25deg);
  position: relative;
  overflow: hidden;
}

.categories__slide .bg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) skewX(25deg);
      -ms-transform: translate(-50%, -50%) skewX(25deg);
          transform: translate(-50%, -50%) skewX(25deg);
  width: 130%;
  z-index: -1;
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}

.categories__mobile .swiper-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.categories__mobile .swiper-wrapper .swiper-slide {
  margin-bottom: 15px;
}

.categories .swiper-arrow {
  cursor: pointer;
  position: absolute;
  bottom: 0;
  height: 320px;
  width: 205px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.categories .swiper-button-prev {
  background: -webkit-gradient(linear, left top, right top, from(#000000), to(rgba(0, 0, 0, 0)));
  background: -o-linear-gradient(left, #000000 0%, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
  left: 0;
}

.categories .swiper-button-next {
  background: -webkit-gradient(linear, left top, right top, from(#000000), to(rgba(0, 0, 0, 0)));
  background: -o-linear-gradient(left, #000000 0%, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  right: 0;
}

.slide__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-transform: skewX(25deg);
      -ms-transform: skewX(25deg);
          transform: skewX(25deg);
}

.slide__img {
  max-width: 320px;
}

.slide__img img {
  width: 100%;
}

.slide__title {
  color: transparent;
  font-size: 2.25rem;
  -webkit-text-stroke: 1px #fff;
  font-weight: bold;
  margin-top: 25px;
  text-transform: uppercase;
}

@supports not (-webkit-text-stroke: 1px #fff) {
  .slide__title {
    color: #fff;
  }
}

.swiper-wrapper {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.favorits {
  padding: 170px 0 160px;
}

.favorits__cards {
  margin-top: 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.5fr 1fr;
  grid-template-columns: 1.5fr 1fr;
  grid-column-gap: 30px;
}

.favorits__cards-other {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 30px;
}

.favorits__card {
  background-color: #151515;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0px 5px;
}

.card__main {
  position: relative;
  display: block;
  padding: 50px 75px;
}

.card__img {
  max-width: 100px;
}

.card__img img {
  width: 100%;
}

.card__title {
  margin-top: 21px;
  font-size: 1.5rem;
  color: #FFFFFF;
  text-align: center;
}

.card-main__title {
  text-align: right;
  font-weight: bold;
  font-size: 2.25rem;
  text-transform: uppercase;
  color: #FFFFFF;
}

.card-main__subtitle {
  text-align: right;
  font-weight: normal;
  font-size: 1.125rem;
  color: #FFFFFF;
}

.card-main__img {
  position: absolute;
  left: 0;
  bottom: 0;
}

.card-main__arrow {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  margin-top: 240px;
}

.description {
  padding: 50px 0;
  background-color: #F2F2F2;
}

.description__text p {
  font-size: 1.5rem;
  line-height: 31px;
  margin-bottom: 45px;
}

.description__text p span {
  font-weight: 700;
}

.description__text p:last-child {
  margin: 0;
}

.is {
  padding: 83px 0 288px;
  background: url("../img/bg-2.svg") center center/cover no-repeat;
}

.is__title {
  font-size: 2.25rem;
  text-align: center;
}

.is__body {
  margin-top: 153px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.is__item {
  background-color: #F2F2F2;
  padding: 57px 16px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  min-height: 210px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
}

.is__icon {
  margin-top: -147px;
  max-width: 134px;
}

.is__icon img {
  width: 100%;
}

.is__text {
  margin-top: 15px;
}

.is__name {
  font-weight: bold;
  font-size: 1.5rem;
}

.is__descr {
  font-size: 1.125rem;
  line-height: 1.4375rem;
  margin-top: 10px;
}

.news {
  margin-top: -100px;
  padding-bottom: 90px;
}

.news__title {
  text-align: center;
}

.news__slider {
  width: 1100px;
  margin: 65px auto 0;
  overflow: hidden;
}

.news__wrapper {
  position: relative;
}

.news .swiper-arrow {
  position: absolute;
  top: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
}

.news .swiper-button-prev {
  left: 0;
}

.news .swiper-button-next {
  right: 0;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.new {
  background-color: #f2f2f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.new__img {
  width: 100%;
}

.new__img img {
  width: 100%;
}

.new__title {
  margin-top: 20px;
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.9375rem;
  padding: 0px 10px;
  min-height: 62px;
}

.new__text {
  text-align: center;
  padding: 0px 10px;
  margin: 14px 0 70px;
  font-size: 1.125rem;
  line-height: 1.4375rem;
}

.new__link {
  position: absolute;
  bottom: 0;
  left: 0;
  border: 3px solid #000000;
  width: 100%;
  padding: 12px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  font-size: 1.125rem;
  color: #000;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}

.subscribe {
  padding: 195px 0 230px;
  background: url("../img/ufo.png") left top no-repeat;
}

.subscribe__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe__title {
  font-size: 2.25rem;
}

.subscribe input {
  padding: 9px 20px;
  margin-top: 20px;
  font-size: 1.125rem;
  width: 415px;
  height: 40px;
  border: 3px solid #000000;
  background-color: #fff;
}

.subscribe button {
  margin-top: 30px;
  width: 252px;
  height: 45px;
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  font-size: 1.125rem;
  color: #FFFFFF;
}

/*</ОСНОВНОЙ БЛОК>=================================================================================================================================*/

/*<ПОДВАЛ>=========================================================================================================================================*/

.footer {
  padding: 72px 0;
  background-color: #151515;
}

.footer__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.5fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr 1fr;
}

.footer__col {
  color: #fff;
}

.footer__col:first-child {
  margin-top: -20px;
}

.footer__socials {
  text-align: center;
}

.footer__socials a {
  margin-left: 15px;
}

.footer__cop {
  margin-top: 50px;
  text-align: center;
  font-weight: 450;
  font-size: 1.125rem;
  color: #484848;
}

.col__title {
  font-weight: bold;
  font-size: 1.125rem;
  margin-bottom: 1rem;
}

.col__link {
  margin-bottom: 0.625rem;
}

.col__link a {
  color: #fff;
  font-size: 1.125rem;
}

/*</ПОДВАЛ>========================================================================================================================================*/

@media (min-width: 768px) {
  .menu__link a:before {
    content: '';
    width: 0;
    height: 2px;
    position: absolute;
    bottom: -5px;
    left: 0;
    background-color: #000;
    -webkit-transition: width .2s;
    -o-transition: width .2s;
    transition: width .2s;
  }

  .menu__link a:hover:before {
    width: 100%;
  }

  .new__link:hover {
    color: #fff;
    background-color: #000;
  }
}

@media (max-width: 1215px) {
  .news__slider {
    width: auto;
  }

  .news .swiper-arrow {
    display: none;
  }
}

@media (max-width: 1024px) {
  .header__input {
    position: static;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }

  .subscribe {
    background: none !important;
    padding: 0 0 50px;
  }
}

@media (max-width: 992px) {
  .favorits__cards {
    -ms-grid-columns: none;
    grid-template-columns: none;
    -ms-grid-rows: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .card__main {
    margin-bottom: 30px;
  }

  .footer__container {
    -ms-grid-columns: 1.5fr 1fr 1fr;
    grid-template-columns: 1.5fr 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 30px;
  }
}

@media (max-width: 916px) {
  .categories__slide {
    -webkit-transform: skewX(0deg);
        -ms-transform: skewX(0deg);
            transform: skewX(0deg);
  }

  .categories__slide .bg {
    -webkit-transform: translate(-50%, -50%) skewX(0);
        -ms-transform: translate(-50%, -50%) skewX(0);
            transform: translate(-50%, -50%) skewX(0);
  }

  .slide__body {
    -webkit-transform: skewX(0);
        -ms-transform: skewX(0);
            transform: skewX(0);
  }

  .slide__img {
    max-width: 250px;
  }
}

@media (max-width: 768px) {
  :root {
    font-size: 14px;
  }

  .header {
    margin: 0;
  }

  .search {
    display: block;
  }

  .search img {
    height: 26px;
    margin-top: -2px;
  }

  .search__close {
    display: block;
  }

  .input {
    position: absolute;
    top: -200%;
    left: 0;
    background-color: #151515;
    width: 100%;
    height: 90px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 6;
  }

  .input .input__wrapper {
    width: 80%;
  }

  .input .input__wrapper input {
    width: 100%;
  }

  .input.active {
    top: 0;
  }

  .first {
    margin-top: -100px;
  }

  .categories {
    padding: 80px 0 0;
  }

  .favorits {
    padding: 100px 0 80px;
  }

  .is {
    padding: 50px 0 150px;
  }

  .is__body {
    margin-top: 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .is__item {
    margin-bottom: 20px;
    padding: 0 16px 20px;
    min-height: auto;
  }

  .is__icon {
    margin: 0;
  }
}

@media (max-width: 650px) {
  .categories .swiper-arrow {
    display: none;
  }

  .slide__img {
    max-width: 320px;
  }
}

@media (max-width: 600px) {
  .card__main {
    padding: 30px 50px;
  }

  .card-main__img {
    max-width: 400px;
  }

  .card-main__img img {
    width: 100%;
  }

  .description__text p {
    line-height: 25px;
  }

  .new__title {
    min-height: auto;
  }
}

@media (max-width: 515px) {
  .first__title {
    font-size: 3rem;
  }
}

@media (max-width: 496px) {
  .is__icon {
    max-width: 80px;
  }
}

@media (max-width: 460px) {
  .footer__container {
    place-items: center;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: (1fr)[5];
    grid-template-rows: repeat(5, 1fr);
    text-align: center;
  }
}

@media (max-width: 450px) {
  .card__main {
    padding: 30px 25px;
  }

  .card-main__img {
    max-width: 300px;
  }

  .subscribe input {
    width: 100%;
  }
}

@media (max-width: 425px) {
  :root {
    font-size: 11px;
  }

  .header__logo {
    max-width: 140px;
  }

  .header__logo img {
    width: 100%;
  }

  .header__btn:not(:last-child) {
    margin-right: 15px;
  }

  .menu__list_main .menu__link a {
    font-size: 2rem;
  }

  .menu__list_sub .menu__link a {
    font-size: 1.5rem;
  }

  .slide__img {
    max-width: 250px;
  }

  .card-main__arrow {
    margin-top: 170px;
  }

  .description__text p {
    margin-bottom: 20px;
  }
}

@media (max-height: 500px) {
  .first__title {
    font-size: 3rem;
  }
}
@supports (-webkit-appearance:none){
.first{background:url("../img/first-bg.webp") center center/cover no-repeat}
.bg-wrapper{background:url("../img/bg.svg") center center/cover no-repeat}
.is{background:url("../img/bg-2.svg") center center/cover no-repeat}
.subscribe{background:url("../img/ufo.webp") left top no-repeat}
}

 @media (min-width: 768px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1215px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1024px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 992px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 916px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 768px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 650px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 600px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 515px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 496px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 460px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 450px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 425px){

@supports (-webkit-appearance:none){

}

}

 @media (max-height: 500px){

@supports (-webkit-appearance:none){

}

}
