* {
  font-family: Roboto, sans-serif;
}

header {
  position: relative;
}

nav {
  position: fixed;
  width: 100%;
  background-color: #212121;
  z-index: 2;
  height: 50px;
  background-color: #212121;
}

.header__menu {
  padding: 13px 70px;
  margin: 0;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.hamburger {
  display: none;
}

.menu__item {
  padding-right: 28px;
  border-right: 2px dotted #000;
}
.menu__item:last-child {
  border-right: none;
}

.menu__link {
  font-size: 15px;
  color: #fff;
  font-weight: 300;
}
.menu__link:hover {
  color: #47ddf9;
  text-decoration: none;
}

.subheader {
  background-color: rgba(0, 0, 0, 0.6);
  height: 84px;
  position: absolute;
  top: 50px;
  width: 100%;
}

.subheader__logo {
  display: block;
  max-width: 100%;
  margin-top: 16px;
}

.subheader__sublogo {
  margin-top: 6px;
  color: #fff;
  opacity: 0.5;
  font-size: 13px;
  font-weight: 100;
}

.subheader__call {
  font-size: 12px;
  font-weight: lighter;
  color: #fff;
  margin-top: 19px;
  text-align: right;
}

.subheader__phone {
  display: block;
  line-height: 12px;
  color: #fff;
  font-size: 22px;
  margin-top: 9px;
  text-align: right;
}

.subheader__btn {
  width: 172px;
  height: 46px;
  box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
  background-color: #47ddf9;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 19px;
  border-radius: 4px;
}
.subheader__btn:hover {
  background-color: #02b8d0;
}

.promo {
  min-height: 800px;
  background: url("../img/header_bg.jpg") center no-repeat;
  background-size: cover;
  padding: 150px 0 135px;
}

.promo__title {
  color: #fff;
  font-size: 60px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 60px;
  margin: 0;
  text-align: center;
}

.promo__subtitle {
  color: #fff;
  font-size: 36px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 36px;
  margin: 0;
  margin-top: 22px;
  text-align: center;
}

.promo__text {
  color: #fff;
  font-size: 18px;
  text-align: center;
  line-height: 24px;
  margin-top: 23px;
}

.promo__btn {
  display: block;
  margin: 118px auto 0;
  padding: 22px 40px;
  box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
  background-color: #47ddf9;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  border-radius: 4px;
}
.promo__btn:hover {
  background-color: #02b8d0;
}

.advantages {
  padding: 70px 0 60px;
}

.advantages__row {
  display: flex;
  align-items: center;
}

.min-title {
  margin: 0 auto;
  text-transform: uppercase;
  text-align: center;
  font-size: 11px;
  color: #fff;
  background-color: #000;
  padding: 5px 11px;
  width: 112px;
  height: 24px;
}

.big-title {
  font-size: 38px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  margin: 20px 0 0;
}

.subtitle {
  font-size: 17px;
  color: #222;
  text-align: center;
}

.advantages__item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
}

.advantages__img {
  display: flex;
  justify-content: center;
  align-self: center;
  margin-right: 26px;
}

.advantages__title {
  color: #1eacc7;
  font-size: 17px;
}

.advantages__text {
  font-weight: lighter;
  font-size: 15px;
  color: #202020;
}

.mobile {
  padding: 48px 0 79px;
  background: url("../img/possible__bg.jpg") center/cover no-repeat;
  min-height: 864px;
}
.mobile .row {
  margin-top: 32px;
}

.mobile__item {
  width: 320px;
  height: 280px;
  margin: 0 auto;
  margin-bottom: 19px;
  padding-top: 92px;
  position: relative;
}

.mobile__item_1 {
  background: url("../img/possible_1.png") center/cover no-repeat;
}

.mobile__item_2 {
  background: url("../img/possible_2.png") center/cover no-repeat;
}

.mobile__item_3 {
  background: url("../img/possible_3.png") center/cover no-repeat;
}

.mobile__item_4 {
  background: url("../img/possible_4.png") center/cover no-repeat;
}

.mobile__item_5 {
  background: url("../img/possible_5.png") center/cover no-repeat;
}

.mobile__item_6 {
  background: url("../img/possible_6.png") center/cover no-repeat;
}

.mobile__subtitle {
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}

.mobile__plus {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 26px;
  height: 26px;
  background-color: #000;
  border-radius: 50%;
  position: absolute;
  bottom: 35px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}
.mobile__plus:before {
  content: "";
  display: block;
  width: 14px;
  height: 2px;
  background-color: #1eacc7;
}
.mobile__plus:after {
  content: "";
  display: block;
  width: 2px;
  height: 14px;
  background-color: #1eacc7;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.choise {
  min-height: 700px;
  padding: 0 0 100px;
  background: url("../img/possible__bg.jpg") center/cover no-repeat;
  position: relative;
}

.choise__title {
  padding: 55px 0 0;
  height: 500px;
  background-color: #070716;
}

.white__min {
  background-color: #fff;
  color: #000;
}

.white__big {
  color: #fff;
}

.white__subtitle {
  color: #fff;
}

.choise__img {
  position: absolute;
  top: 230px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.choise__descr {
  margin-top: 250px;
  text-align: center;
  color: #222222;
  font-size: 17px;
  font-weight: 300;
  line-height: 24px;
}

.require {
  padding: 70px 0 84px;
}

.require__block {
  margin: 33px 0;
}

.require__nmb {
  margin-bottom: 0;
}

.require__title {
  color: #1ca8c3;
  font-size: 22px;
}

.red__require {
  color: #ff5656;
}

.require__list {
  list-style-type: none;
  padding-left: 50px;
  margin-top: 22px;
}
.require__list li {
  position: relative;
  font-weight: 300;
  font-size: 17px;
  line-height: 24px;
  margin-bottom: 10px;
}
.require__list li:before {
  content: "";
  display: block;
  position: absolute;
  left: -32px;
  top: 3px;
  width: 21px;
  height: 20px;
  background: url("../img/icons/blue_ok.png") center/cover no-repeat;
}

.red li:before {
  content: "";
  display: block;
  position: absolute;
  left: -32px;
  top: 3px;
  width: 21px;
  height: 20px;
  background: url("../img/icons/red_ok.png") center/cover no-repeat;
}

.require__desc {
  color: #1ca8c3;
}

.world {
  padding: 55px 0 50px;
  background: url("../img/all-world_bg.jpg") center center/cover no-repeat;
  min-height: 717px;
}

.world__link {
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  margin-top: 485px;
}
.world__link a {
  color: #1fbad6;
}

.footer__links {
  width: 430px;
  margin: 0 auto;
}
.footer__links:before {
  content: "";
  display: block;
  max-width: 300px;
  height: 3px;
  background-color: #1fbad6;
  margin: 15px auto;
}

.footer__row-main {
  justify-content: space-between;
  display: flex;
}

.footer-main__link {
  font-size: 15px;
  text-transform: uppercase;
}
.footer-main__link a {
  color: #000;
}

.footer__row-extra {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
}

.footer-extra__link {
  font-size: 11px;
  text-transform: uppercase;
  font-weight: lighter;
}
.footer-extra__link a {
  color: #666;
}

footer {
  padding: 14px 23px 39px 23px;
}
footer a:hover {
  text-decoration: none;
}

.xs-visible {
  display: none;
}

@media (max-width: 1200px) {
  .menu__item {
    padding-right: 18px;
  }
  .menu__link {
    font-size: 13px;
  }

  .promo__title {
    font-size: 50px;
  }

  .mobile__item {
    width: 300px;
  }
}
@media (max-width: 991px) {
  .menu__item {
    padding-right: 8px;
  }
  .menu__link {
    font-size: 10px;
  }

  .subheader__logo img {
    width: 100%;
  }
  .subheader__sublogo {
    font-size: 11px;
  }
  .subheader__phone {
    font-size: 18px;
  }
  .subheader__btn {
    margin-top: 21px;
    width: 100%;
    height: 40px;
  }

  .promo__title {
    font-size: 40px;
  }
  .promo__subtitle {
    font-size: 30px;
  }

  .advantages__item {
    flex-direction: column;
  }
  .advantages__info {
    height: 165px;
  }

  .mobile__item {
    width: 220px;
    height: 220px;
    padding-top: 68px;
  }
  .mobile__subtitle {
    font-size: 15px;
  }
}
@media (max-width: 767px) {
  .header__menu {
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 0;
    left: -100%;
    width: 85%;
    height: 100vh;
    padding: 20px 15px;
    background-color: rgba(0, 0, 0, 0.8);
    transition: 0.6s;
  }
  .header__menu__active {
    left: 0;
  }

  .menu__item {
    border: none;
    padding-right: 0;
    margin: 10px;
  }
  .menu__link {
    font-size: 20px;
  }

  .hamburger {
    display: block;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 26px;
    height: 12px;
  }
  .hamburger span {
    display: block;
    height: 2px;
    width: 100%;
    background-color: #fff;
    margin-bottom: 3px;
    transition: 0.5s all;
  }
  .hamburger__active span {
    margin-bottom: -2px;
  }
  .hamburger__active span:nth-child(1) {
    transform: translateY(3px) rotate(-45deg);
  }
  .hamburger__active span:nth-child(2) {
    display: none;
  }
  .hamburger__active span:nth-child(3) {
    transform: translateY(3px) rotate(45deg);
  }

  .xs-hidden {
    display: none;
  }

  .xs-visible {
    display: block;
  }

  .subheader__phone {
    display: block;
    margin-top: 15px;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
  }
  .subheader__btn {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 30px;
    margin-top: 10px;
  }
  .subheader__btn:hover {
    background-color: #47ddf9;
  }

  .promo__title {
    font-size: 35px;
  }
  .promo__subtitle {
    font-size: 25px;
  }
  .promo__btn:hover {
    background-color: #47ddf9;
  }

  .advantages__info {
    text-align: left;
  }
  .advantages__text {
    font-size: 13px;
  }

  .choise {
    padding: 0 0 20px;
  }
  .choise__img {
    top: 200px;
  }
  .choise__img img {
    width: 500px;
  }
  .choise__descr {
    margin-top: 80px;
  }
}
@media (max-width: 575px) {
  .subheader {
    height: 60px;
  }
  .subheader__logo {
    margin-top: 18px;
  }
  .subheader__sublogo {
    display: none;
  }
  .subheader__phone {
    font-size: 12px;
  }
  .subheader__btn {
    width: 110px;
    height: 22px;
    margin-top: 5px;
    font-size: 8px;
  }

  .menu__item {
    width: 100%;
  }
  .menu__link {
    display: block;
  }

  .promo {
    min-height: 400px;
    padding: 153px 0 35px;
  }
  .promo__text {
    display: none;
  }
  .promo__title {
    font-size: 30px;
    padding: 0 24px;
    line-height: 35px;
  }
  .promo__subtitle {
    font-size: 20px;
    margin-top: 33px;
    padding: 0 10px;
    line-height: 30px;
  }
  .promo__btn {
    margin-top: 40px;
  }

  .big-title {
    font-size: 28px;
  }

  .advantages__img {
    margin-right: 0;
  }
  .advantages__info {
    margin-top: 10px;
    text-align: center;
  }

  .choise {
    padding: 0 0 20px;
  }
  .choise__img {
    top: 250px;
  }
  .choise__img img {
    width: 300px;
  }
  .choise__descr {
    margin-top: 50px;
  }

  .world {
    min-height: 0;
    height: 350px;
  }
  .world__link {
    margin-top: 100px;
  }

  .footer__links {
    width: 100%;
    margin: 0;
  }
  .footer__links:before {
    content: "";
    width: 100%;
  }
  .footer-main__link a {
    font-size: 10px;
  }
  .footer-extra__link {
    font-size: 8px;
  }

  .require__title {
    text-align: center;
    font-size: 20px;
  }
}