:root {
	font-size: 16px;
}

*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before, *:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav, footer, header, aside{display: block;}

html, body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input, button, textarea{font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: 400;}









body {
	font-family: Roboto;
}

.container {
	max-width: 1200px;
	margin: 0px auto;
	width: 100%;
}

.header {
	height: 100px;
	background-color: rgb(0, 17, 250);
	display: flex;
	align-items: center;
}

.title {
	color: #fff;
	font-size: 40px;
}

.todo-input {
	margin-top: 40px;
	display: flex;
	height: 40px;
	border: 1px solid #000;
}

.input {
	flex: 1 1 100%;
	background-color: transparent;
	height: 100%;
	font-size: 20px;
	padding: 0px 15px;
}

.input:focus::placeholder {
	color: #fff;
}

.input-btn {
	flex: 0 0 50px;
}

.input-btn_active {
	background-color: rgb(0, 177, 15);
	color: #fff;
	font-size: 18px;
}

.todos {
	margin-top: 50px;
}

.todos-row {
	display: flex;
	justify-content: space-between;
}

.todos-col {
	flex: 0 0 45%;
	display: flex;
	flex-direction: column;
}

.todos-done .todo {
	background-color: rgba(0, 255, 0, .3);
}

.todos-need .todo-cb:checked {
	background: rgb(0, 17, 250) url('tick.svg') center center/15px 15px no-repeat;
}

.todo {
	border-radius: 5px;
	padding: 15px;
	background-color: rgba(0, 17, 250, .2);
	font-size: 18px;
	margin-bottom: 20px;
	position: relative;
}

.make-important {
	display: block;
	margin-top: 15px;
}

.todo-hover {
	position: absolute;
	top: 0;
	right: 0;
	padding: 0px 15px;
	height: 40px;
	background-color: rgb(0, 17, 250);
	display: none;
	border-radius: 5px;
}

.todo:hover .todo-hover {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.todo.editable .todo-hover .edit{
	display: none;
}

.todo.editable .todo-hover .delete{
	display: none;
}


.todo.important {
	background-color: rgba(184, 0, 0, .4);
}

.hover-important {
	background-color: rgb(226, 0, 0);
}

.hover-done {
	background-color: rgb(0, 255, 106);
}

.todo-label {
	display: flex;
}

.icon {
	cursor: pointer;
	width: 25px;
	margin-right: 15px;
}

.icon:last-child {
	margin: 0;
}

.icon img {
	width: 100%;
}

.todo-title {
	font-size: 25px;
	margin-bottom: 25px;
}

.todo-cb {
	margin-right: 10px;
	appearance: none;
	flex: 0 0 25px;
	height: 25px;
	border-radius: 50%;
	display: block;
	border: 1px solid #000;
}

.todo-cb:checked {
	background: green url('tick.svg') center center/15px 15px no-repeat;
	border: none;
}