@charset "UTF-8";

/*Обнуление*/

:root {
  font-size: 16px;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*Variables*/

/*---------------------------------------------*/

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  margin: 0px auto;
  max-width: 1460px;
  padding: 0px 15px;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #302d32;
}

/*General classes*/

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 240px;
  height: 70px;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: bold;
}

.nb {
  border-right: none !important;
}

/*---------------------------------------------*/

/*Header*/

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
  width: 206px;
  height: 94px;
  background-color: #302d32;
  font-weight: 500;
}

.header__logo_mob {
  display: none;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  margin-left: 36px;
}

.menu_active .menu__body {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

.menu__body {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
  -webkit-transform: translateX(-500px);
      -ms-transform: translateX(-500px);
          transform: translateX(-500px);
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__link {
  margin-right: 50px;
}

.menu__link:last-child {
  margin: 0;
}

.menu__link a {
  color: #fff;
}

.hamburger {
  margin-right: 80px;
  width: 40px;
  height: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
}

.hamburger span {
  width: 100%;
  height: 1px;
  background-color: #fff;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}

.hamburger span:nth-child(2) {
  width: 60%;
}

.hamburger_active {
  position: relative;
}

.hamburger_active span {
  position: absolute;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.hamburger_active span:first-child {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: calc(50% - 0.5px);
}

.hamburger_active span:last-child {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  bottom: calc(50% - 0.5px);
}

.header-right {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-right__location {
  padding-left: 30px;
  margin-right: 60px;
}

.header-right__location:before {
  background-image: url("../img/icons/pin.svg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: absolute;
  top: -3px;
  left: 0px;
  width: 21px;
  height: 21px;
  content: '';
}

.header-right__icon {
  color: #fff;
  position: relative;
}

.header-right__phone {
  color: #fff;
  padding-left: 36px;
  letter-spacing: 0.5px;
}

.header-right__phone:before {
  background-image: url("../img/icons/tel.svg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: absolute;
  top: -3px;
  left: 0px;
  width: 21px;
  height: 21px;
  content: '';
}

/*---------------------------------------------*/

/*Main*/

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.first {
  background: url("../img/bg_1.jpg") center center/cover no-repeat;
  padding: 275px 0 40px;
}

.first__container {
  text-align: center;
}

.first__title {
  font-weight: bold;
  font-size: 3.75rem;
  color: #fff;
  line-height: 69px;
  max-width: 825px;
  margin: 0px auto;
}

.first__subtitle {
  font-weight: medium;
  color: #fff;
  max-width: 573px;
  margin: 32px auto 0;
  line-height: 24px;
}

.first__btn {
  margin: 70px auto 0;
  font-size: 1.125rem;
  background-color: #fff;
  color: #302d32;
}

.slick-dots {
  margin-top: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slick-dot {
  width: 8px;
  height: 8px;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 0px 7px;
}

.slick-actve {
  background-color: #fff;
}

.filter {
  padding: 40px 0 140px;
}

.filter__first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.first-filter .dropdown {
  width: 320px;
  height: 60px;
  background-color: #fff;
  border: 1px solid #302d32;
  position: relative;
  cursor: pointer;
}

.first-filter .dropdown .hide {
  display: none;
}

.first-filter .dropdown__body {
  width: 100%;
  height: 96px;
  padding: 20px 30px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
  position: absolute;
  left: 0;
  bottom: -97px;
  -webkit-box-shadow: 0px 7px 9px 1px rgba(224, 220, 226, 0.18);
          box-shadow: 0px 7px 9px 1px rgba(224, 220, 226, 0.18);
}

.first-filter .dropdown-body__item {
  cursor: pointer;
  margin-bottom: 17px;
}

.first-filter .dropdown-body__item:last-child {
  margin-bottom: 0;
}

.first-filter .dropdown__title {
  display: inline-block;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: relative;
  padding-right: 25px;
}

.first-filter .dropdown__title:before {
  content: '';
  display: block;
  width: 15px;
  height: 8px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0;
  background: url("../img/icons/arrow.png") center center no-repeat;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}

.first-filter .dropdown_active .dropdown__title:before {
  content: '';
  -webkit-transform: rotate(180deg) translateY(50%);
      -ms-transform: rotate(180deg) translateY(50%);
          transform: rotate(180deg) translateY(50%);
}

.second-filter {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.second-filter__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.second-filter__title {
  width: 240px;
  height: 60px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #302d32;
}

.second-filter__input {
  border: 1px solid #302d32;
  width: 245px;
  height: 60px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.second-filter__input input {
  text-align: right;
  width: 50px;
  margin-right: 10px;
  font-size: 1rem;
}

.range {
  width: 360px;
  margin: 0px auto;
}

.field {
  margin: 30px auto 0;
  width: 360px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.field input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  height: 3px;
  width: 100%;
  background: #827686;
  position: relative;
}

.field input::-webkit-slider-thumb {
  cursor: pointer;
  -webkit-appearance: none;
          appearance: none;
  width: 6px;
  height: 6px;
  background-color: #302d32;
}

.field input:after,
.field input :before {
  content: '';
  display: block;
  width: 6px;
  height: 6px;
  background-color: #302d32;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.field input:after {
  left: 0;
}

.field input:before {
  right: 0;
}

.value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5px;
  margin-left: -5px;
  width: 383px;
}

.value__item {
  color: #302d32;
}

.slider__value {
  position: relative;
  width: 100%;
}

.slider__value span {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #302d32;
  bottom: 1px;
}

/*---------------------------------------------*/

/*Footer*/

/*---------------------------------------------*/

@media (min-width: 768px) {
  .menu__link a:hover {
    color: #827686;
  }
}

@media (max-width: 1330px) {
  .menu__link {
    margin-right: 30px;
  }

  .hamburger {
    margin-right: 40px;
  }
}

@media (max-width: 1200px) {
  .menu {
    margin-left: 20px;
  }

  .hamburger {
    margin-right: 20px;
  }

  .header-right__location {
    margin-right: 30px;
  }
}

@media (max-width: 1130px) {
  .header-right__location {
    padding-left: 25px;
  }

  .header-right__phone {
    padding-left: 25px;
  }
}

@media (max-width: 1100px) {
  .menu__link {
    margin-right: 20px;
  }

  .header-right__location {
    display: none;
  }
}

@media (max-width: 950px) {
  .header-right__location {
    text-indent: -9999px;
    font-size: 0;
    width: 40px;
    height: 40px;
    border: 1px solid #fff;
    border-radius: 50%;
    background-image: url("../img/icons/pin.svg");
    background-position: center center;
    background-size: 20px 20px;
    background-repeat: no-repeat;
  }

  .header-right__location:before {
    content: '';
    display: none;
  }

  .header-right__phone {
    text-indent: -9999px;
    width: 40px;
    height: 40px;
    border: 1px solid #fff;
    border-radius: 50%;
    background-image: url("../img/icons/tel.svg");
    background-position: center center;
    background-size: 20px 20px;
    background-repeat: no-repeat;
  }

  .header-right__phone:before {
    content: '';
    display: none;
  }
}

@media (max-width: 860px) {
  .header-right__location {
    margin-right: 10px;
  }

  .first__title {
    font-size: 3.125rem;
    line-height: 50px;
  }
}

@media (max-width: 840px) {
  .menu__link {
    margin-right: 15px;
  }

  .hamburger {
    margin-right: 5px;
  }
}

@media (max-width: 815px) {
  .header-right__location {
    display: none;
  }
}

@media (max-width: 768px) {
  .header__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
  }

  .header__logo {
    display: none;
  }

  .header__logo_mob {
    -ms-flex-item-align: start;
        align-self: flex-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 140px;
    height: 75px;
    font-size: 16px;
  }

  .menu {
    overflow: visible;
    margin: 0;
  }

  .menu_active .menu__body {
    left: 0;
  }

  .menu__body {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
    position: absolute;
    opacity: 1;
    visibility: visible;
    top: 0;
    left: -1000px;
    width: 100%;
    height: 100vh;
    padding: 50px;
    background-color: #fff;
    overflow: auto;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .menu__link a {
    font-size: 30px;
    color: #000;
  }

  .menu__link {
    margin: 30px 0;
  }

  .menu__link:last-child {
    margin: 30px 0;
  }

  .hamburger-wrapper {
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 2;
  }

  .hamburger span {
    background-color: #000;
  }

  .hamburger span:nth-child(2) {
    width: 100%;
  }

  .hamburger {
    margin: 0;
    width: 30px;
    height: 17px;
  }

  .header-right {
    margin: 0;
  }

  .header-right__phone {
    background-image: url("../img/icons/tel-black.svg");
    background-color: #fff;
  }

  .first {
    padding: 200px 0 40px;
  }
}

@media (max-width: 476px) {
  .btn {
    width: 170px;
    height: 50px;
    font-size: 14px;
  }

  .first__title {
    font-size: 1.25rem;
    line-height: 30px;
  }

  .first__subtitle {
    font-size: 12px;
    line-height: 18px;
  }
}
@supports (-webkit-appearance:none){
.header-right__location:before{background-image:url("../img/icons/pin.svg")}
.header-right__phone:before{background-image:url("../img/icons/tel.svg")}
.first{background:url("../img/bg_1.webp") center center/cover no-repeat}
.first-filter .dropdown__title:before{background:url("../img/icons/arrow.webp") center center no-repeat}
}

 @media (min-width: 768px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1330px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1200px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1130px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1100px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 950px){

@supports (-webkit-appearance:none){
.header-right__location{background-image:url("../img/icons/pin.svg")}
.header-right__phone{background-image:url("../img/icons/tel.svg")}
}

}

 @media (max-width: 860px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 840px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 815px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 768px){

@supports (-webkit-appearance:none){
.header-right__phone{background-image:url("../img/icons/tel-black.svg")}
}

}

 @media (max-width: 476px){

@supports (-webkit-appearance:none){

}

}
