@font-face {
  font-family: "Circular";
  font-display: swap;
  src: url("../fonts/CircularStd-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "SofiaPro";
  font-display: swap;
  src: url("../fonts/SofiaProBold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "SofiaPro";
  font-display: swap;
  src: url("../fonts/SofiaProMedium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

:root {
  font-size: 16px;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: transparent;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: "SofiaPro", sans-serif;
  color: #000;
  font-weight: 500;
  height: 100vh;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1920px;
  margin: 0 auto;
}

/*===========================================*/

/*===========================================*/

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

/*===========================================*/

._modal {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 10;
}

._modal._active {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
}

._modal-bg {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
}

._modal-content {
  padding: 24px;
  width: 700px;
  overflow: auto;
  margin: auto;
  max-height: 90%;
  background-color: #fff;
  border-radius: 16px;
  position: relative;
  z-index: 10;
}

._modal-close {
  position: absolute;
  top: 10px;
  right: 16px;
  cursor: pointer;
}

/*===========================================*/

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__input label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__input button {
  margin-right: 17px;
}

.header__input input {
  font-family: "Circular Std", sans-serif;
  font-size: 17px;
  color: #000000;
}

.header__input input::-webkit-input-placeholder {
  opacity: 0.4;
}

.header__input input::-moz-placeholder {
  opacity: 0.4;
}

.header__input input:-ms-input-placeholder {
  opacity: 0.4;
}

.header__input input::-ms-input-placeholder {
  opacity: 0.4;
}

.header__input input::placeholder {
  opacity: 0.4;
}

.header__input input:focus::-webkit-input-placeholder {
  color: #fff;
}

.header__input input:focus::-moz-placeholder {
  color: #fff;
}

.header__input input:focus:-ms-input-placeholder {
  color: #fff;
}

.header__input input:focus::-ms-input-placeholder {
  color: #fff;
}

.header__input input:focus::placeholder {
  color: #fff;
}

.hamburger {
  display: none;
}

.sidebar .hamburger {
  position: absolute;
  top: 55px;
  left: 30px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__body {
  isplay: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__body a {
  margin-right: 42px;
}

.menu__link {
  font-family: "Circular Std", sans-serif;
  font-size: 17px;
  color: #000000;
  position: relative;
}

.menu__link:before {
  content: "";
  position: absolute;
  bottom: -7px;
  left: 0;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #000;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.15s;
  -o-transition: all 0.15s;
  transition: all 0.15s;
}

.menu__btn:first-child {
  margin-right: 25px;
}

/*===========================================*/

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
}

.sidebar {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 252px;
          flex: 0 0 252px;
  padding: 50px 60px 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sidebar__body {
  margin: 0 auto;
}

.sidebar__title {
  margin-top: 57px;
  font-weight: 800;
  font-size: 30px;
  color: #000000;
}

.sidebar__menu {
  margin-top: 47px;
}

.sidebar__link a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
  color: #000000;
}

.sidebar__link_icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 47px;
          flex: 0 0 47px;
  height: 47px;
  border-radius: 50%;
  background-color: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 17px;
}

.menu-sidebar__link {
  margin-bottom: 23px;
  font-size: 16px;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-sidebar__link img {
  width: 22px;
  margin-right: 12px;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin-top: 66px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (1fr)[4];
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 20px;
}

.body .card {
  overflow: hidden;
  position: relative;
  border-radius: 18px;
  background-color: #adadad;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body .card_1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 1/1/2/3;
}

.body .card_2 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 2/1/3/3;
}

.body .card_3 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  grid-area: 1/3/3/3;
}

.body .card_4 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-area: 1/4/3/5;
}

.body .card_5 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 3/1/5/2;
}

.body .card_6 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 3/2/5/3;
}

.body .card_7 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: 3/3/4/5;
}

.body .card_8 {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: 4/3/5/5;
}

.body .card img {
  width: 100%;
  height: 100%;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
}

.body .card span {
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  color: #000000;
}

.body .card__body {
  width: 100%;
  height: 100%;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url("../img/trending-bg.png") right center/cover no-repeat;
}

.body .card__body .card__title {
  font-weight: 800;
  font-size: 26px;
  color: #001AA2;
}

.body .card__body .card__subtitle {
  font-size: 15px;
  line-height: 23px;
  color: #000000;
}

.body .card__body_red {
  background: url("../img/first-bg.png") center center/cover no-repeat;
}

.body .card__body_red .card__title {
  color: #FD2E24;
}

.body .card__like {
  position: absolute;
  z-index: 3;
  top: 20px;
  right: 20px;
}

.body .card__like_wrapper {
  width: 38px;
  height: 38px;
  position: relative;
}

.body .card__like_wrapper label {
  border-radius: 50%;
}

.body .card__like_wrapper input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
}

.body .card__like_wrapper input ~ .heart {
  cursor: pointer;
  position: absolute;
  width: 19px;
  height: 19px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.body .card__like_wrapper input:checked ~ .heart {
  fill: #f00;
  stroke: #f00;
}

/*===========================================*/

/*===========================================*/

@media (min-width: 1000px) {
  .header {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
}

@media (max-width: 1400px) {
  .menu__body a {
    margin-right: calc(10px + 32 * ((100vw - 320px) / 1080));
  }
}

@media (max-width: 1100px) {
  .sidebar {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
    padding: 50px 30px 0;
  }
}

@media (max-width: 1000px) {
  .hamburger {
    display: block;
    height: 18px;
    width: 30px;
    position: relative;
    cursor: pointer;
  }

  .hamburger span {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
  }

  .hamburger span:first-child {
    top: 0;
  }

  .hamburger span:last-child {
    top: auto;
    bottom: 0;
  }

  .hamburger._active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .hamburger._active span:first-child {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }

  .hamburger._active span:last-child {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }

  .sidebar {
    -webkit-transition: left 0.2s;
    -o-transition: left 0.2s;
    transition: left 0.2s;
    position: fixed;
    z-index: 5;
    left: -100%;
    background-color: #fff;
    height: 100vh;
    padding: 43px 60px 60px 100px;
    overflow: auto;
  }

  .sidebar._active {
    left: 0;
  }

  .main {
    padding: 20px;
  }

  .body {
    margin-top: 40px;
  }
}

@media (max-width: 768px) {
  .header__input {
    width: 100%;
  }

  .header__input input {
    width: 100%;
  }

  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-left: 50px;
  }

  .menu__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: 50px;
  }

  .menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .menu__link {
    display: block;
    line-height: 40px;
  }

  .menu__buttons {
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin-top: 15px;
  }

  .sidebar {
    left: -200%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
  }

  .sidebar__body {
    margin: 0;
  }

  .body {
    margin-top: 20px;
    -ms-grid-rows: (1fr)[6];
    grid-template-rows: repeat(6, 1fr);
  }

  .body .card_1 {
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-area: 5/1/6/5;
  }

  .body .card_2 {
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-area: 6/1/7/5;
  }

  .body .card_5 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 1/1/3/2;
  }

  .body .card_6 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 1/2/3/3;
  }

  .body .card_7 {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-area: 3/1/3/5;
  }

  .body .card_8 {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-area: 4/1/4/5;
  }

  .body .card__like {
    top: 10px;
    right: 10px;
  }
}

@media (max-width: 500px) {
  .header {
    margin: 30px 0 0;
  }

  .sidebar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 485px) {
  .body {
    -ms-grid-rows: (1fr)[8];
    grid-template-rows: repeat(8, 1fr);
  }

  .body .card_3 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 1/1/3/3;
  }

  .body .card_4 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-area: 1/3/3/5;
  }

  .body .card_5 {
    -ms-grid-row: 7;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 7/1/9/3;
  }

  .body .card_6 {
    -ms-grid-row: 7;
    -ms-grid-row-span: 2;
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-area: 7/3/9/5;
  }
}

@media (any-hover: hover) {
  .menu__link:hover:before {
    opacity: 1;
    visibility: visible;
  }
}