@import url("https://fonts.googleapis.com/css?family=Inter:500,600&display=swap");

:root {
  font-size: 16px;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: transparent;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: "Inter", sans-serif;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 500;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/*===========================================*/

.title {
  font-weight: 600;
  font-size: 30px;
  color: #FFFFFF;
  opacity: 0.9;
}

/*===========================================*/

/*===========================================*/

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.card {
  margin: auto;
  background: url("../img/bg.png") top right/210px 210px;
  max-width: 1680px;
  padding: 100px;
}

.card__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 30px;
}

.card__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card__name {
  font-weight: 600;
  font-size: 75px;
  line-height: 100%;
  color: #FFFFFF;
}

.card__item:last-child .card__text {
  margin: 0;
}

.card__title {
  margin-bottom: 15px;
}

.card__text {
  margin-bottom: 50px;
  font-weight: 500;
  font-size: 15px;
  line-height: 167%;
  color: #FFFFFF;
  opacity: 0.8;
}

.card__list li {
  padding-left: 14px;
  background: url("../img/icons/li-circle.svg") 0 9px no-repeat;
}

.info-card {
  margin-top: 65px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 27px;
}

.info-card__icon {
  margin-bottom: 7px;
}

.info-card__first {
  font-weight: 500;
  font-size: 15px;
  color: #FFFFFF;
  opacity: 0.6;
  margin-bottom: 7px;
}

.info-card__second {
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  color: #FFFFFF;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.tech-card {
  margin-top: 45px;
}

.skill-tech {
  margin-top: 15px;
}

.skill-tech__title {
  font-size: 15px;
  color: #FFFFFF;
  opacity: 0.8;
  margin-bottom: 3px;
}

.skill-tech__progress {
  width: 100%;
  height: 7px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  position: relative;
}

.skill-tech__progress:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  height: 100%;
  border-radius: 10px;
}

.skill-tech .internet-progress::before {
  width: 50%;
}

.skill-tech .social-progress::before {
  width: 25%;
}

.skill-tech .shopping-progress::before {
  width: 50%;
}

.avatar-card {
  margin: -50px 0;
  position: relative;
}

.avatar-card__img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.avatar-card__text {
  padding: 0 50px;
  position: absolute;
  bottom: 83px;
  font-weight: 600;
  font-size: 30px;
  line-height: 117%;
  color: #FFFFFF;
}

@media (max-width: 1400px) {
  .card__body {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .card-about {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    margin-top: 100px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .avatar-card {
    text-align: center;
  }
}

@media (max-width: 1100px) {
  .card__name {
    font-size: 60px;
  }
}

@media (max-width: 1024px) {
  .card {
    padding: 50px 30px;
  }

  .avatar-card {
    margin: 0;
  }

  .avatar-card__text {
    bottom: 30px;
  }
}

@media (max-width: 768px) {
  .card__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .card__name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .card-img {
    display: none;
  }

  .avatar-card__img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
    height: 100px;
    border-radius: 50%;
  }

  .avatar-card__text {
    position: static;
    padding: 0;
    font-size: 18px;
    font-weight: 500;
    margin-top: 15px;
  }
}

@media (max-width: 576px) {
  .card__name {
    font-size: 35px;
  }
}

@media (max-width: 425px) {
  .avatar-card__img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 80px;
            flex: 0 0 80px;
    height: 80px;
    border-radius: 50%;
  }
}