@charset "UTF-8";

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*----------------------------------------------------*/

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 1200px;
  margin: 0px auto;
  padding: 0px 15px;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.nav {
  width: 100%;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  border-bottom: 1px solid #000;
}

.nav__inner {
  height: 123px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__icons {
  height: 100%;
  display: none;
}

.nav-menu__icon {
  display: none;
  z-index: 1001;
}

.nav-search__icon {
  display: none;
  margin-right: 10px;
}

.nav-search__icon img {
  width: 25px;
  height: 25px;
}

.nav__logo {
  max-width: 125px;
}

.nav__logo a {
  color: #212121;
  font-size: 25px;
  font-weight: 700;
}

.nav-menu__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-menu__link {
  margin: 0 23px;
  text-align: center;
}

.nav-menu__link:last-child {
  margin: 0;
}

.nav-menu__link a {
  color: #212121;
  font-size: 20px;
  font-weight: 600;
}

.header {
  margin-top: 123px;
  background: url("../img/header-bg.jpg") center center/cover no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__title {
  margin-top: 182px;
  color: #ffffff;
  font-size: 60px;
  font-weight: 600;
  letter-spacing: 1.5px;
  text-align: center;
}

.header__subtitle {
  margin-top: 26px;
  letter-spacing: 1.1px;
  color: #ffffff;
  font-size: 22px;
  line-height: 22px;
  text-align: center;
}

.header__links {
  margin-top: 108px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-links__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 220px;
  height: 70px;
  border: 3px solid #f8f8f8;
  background-color: transparent;
  text-transform: uppercase;
  margin: 0px 12px;
  cursor: pointer;
  -webkit-transition: background-color .3s;
  -o-transition: background-color .3s;
  transition: background-color .3s;
  overflow: hidden;
}

.header-link__a {
  color: #ffffff;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 700;
  line-height: 22px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.down {
  margin: 100px 0 76px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about {
  padding: 121px 0 125px;
}

.about__row {
  margin-top: 104px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about__item {
  margin: 20px auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 254px;
          flex: 0 0 254px;
}

.about__title {
  margin-top: 39px;
  color: #212121;
  font-size: 20px;
  font-weight: 600;
}

.about__text {
  margin-top: 26px;
  color: #212121;
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.75px;
}

.services {
  padding: 173px 0 120px;
  background-color: #e4fdf9;
}

.services__row {
  margin-top: 82px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.services__item {
  text-align: center;
  margin-top: 30px;
  max-width: 370px;
  max-height: 438px;
  background-color: #fff;
  padding: 58px 50px 50px;
}

.services-item__img {
  max-width: 56px;
  margin: 0px auto;
}

.services-item__img .hover {
  display: none;
}

.services-item__title {
  margin-top: 38px;
  font-size: 20px;
  font-weight: 600;
  line-height: 22px;
}

.services-item__text {
  margin-top: 26px;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 0.75px;
}

.services-item__btn {
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 44px;
  width: 150px;
  height: 55px;
  border: 2px solid #212121;
}

.services-item__btn span {
  color: #212121;
  font-size: 20px;
  font-weight: 600;
  line-height: 22px;
  text-transform: uppercase;
}

.latest {
  padding: 128px 0 136px;
}

.latest__tabs {
  margin-top: 102px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.latest__tab {
  cursor: pointer;
  width: 180px;
  height: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #00897b;
  text-transform: uppercase;
  margin: 10px 10px 0;
  color: #212121;
  font-size: 20px;
  font-weight: 600;
  line-height: 22px;
}

.latest__tab_all {
  width: 100px;
  background-color: #00897b;
  color: #fff;
}

.latest__content {
  width: 100%;
  margin-top: 90px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 29px;
}

.latest__content_show {
  display: grid;
}

.latest__content_hide {
  display: none;
}

.latest__item {
  margin: 0px auto;
  width: 1fr;
  margin-top: 30px;
  position: relative;
}

.latest__item:hover .latest__info {
  opacity: 1;
  visibility: visible;
}

.latest__img {
  margin: 0px auto;
  max-width: 370px;
}

.latest__info {
  -webkit-transition: all .1s;
  -o-transition: all .1s;
  transition: all .1s;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgba(0, 0, 0, 0.7);
}

.latest__name {
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  line-height: 22px;
  text-transform: uppercase;
}

.latest__category {
  color: #ffffff;
  font-size: 15px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0.75px;
}

.latest__btn {
  background-color: #00897b;
  width: 220px;
  height: 70px;
  margin: 130px auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.latest__btn span {
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
}

.pricing {
  padding: 127px 0 124px;
  background-color: #f0f0f0;
}

.pricing__row {
  margin-top: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.pricing__item {
  margin: 30px auto 0;
  width: 370px;
  background-color: #fff;
  padding: 48px 0 63px;
  position: relative;
  overflow: hidden;
  text-align: center;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.pricing__item .skewed {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 209px;
  background: #3949ab;
  z-index: 0;
  -webkit-transform: skewY(-5deg);
      -ms-transform: skewY(-5deg);
          transform: skewY(-5deg);
  -webkit-transform-origin: top left;
      -ms-transform-origin: top left;
          transform-origin: top left;
}

.pricing__free {
  position: relative;
  z-index: 1;
  color: #ffffff;
  font-size: 25px;
  letter-spacing: 1.25px;
}

.pricing__price {
  margin-top: 39px;
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pricing__icon {
  position: relative;
  z-index: 1;
  font-size: 25px;
  letter-spacing: 1.25px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  color: #fff;
}

.pricing__count {
  position: relative;
  z-index: 1;
  font-size: 50px;
  line-height: 40px;
  color: #fff;
}

.pricing__time {
  position: relative;
  z-index: 1;
  font-size: 17px;
  letter-spacing: 0.85px;
  color: #fff;
  font-weight: 300;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.pricing__info {
  margin-top: 100px;
  position: relative;
  z-index: 1;
}

.pricing__btn {
  margin: 89px auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 220px;
  height: 70px;
  border: 3px solid #000;
  background-color: transparent;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: background-color .3s;
  -o-transition: background-color .3s;
  transition: background-color .3s;
  color: #212121;
  font-size: 20px;
  font-weight: 600;
}

.pricing-info__item {
  margin-top: 37px;
  color: #212121;
  font-family: "Open Sans";
  font-size: 17px;
  font-weight: 300;
  letter-spacing: 0.85px;
}

.pricing-info__item:after {
  content: '';
  display: block;
  width: 178px;
  margin: 0px auto;
  height: 1px;
  margin-top: 14px;
  background-color: #bfbfbf;
}

.team {
  padding: 121px 0 124px;
}

.team__slider {
  margin-top: 127px;
  overflow: hidden;
}

.team__slider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.team__slider .slick-dots {
  margin-top: 126px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team__slider .slick-dots button {
  font-size: 0;
  width: 15px;
  height: 15px;
  background-color: #00897b;
  border-radius: 50%;
  margin: 0 5px;
}

.team__slider .slick-dots .slick-active button {
  background-color: #3949ab;
}

.team__item {
  text-align: center;
}

.team__avatar img {
  max-width: 370px;
}

.team__name {
  margin-top: 38px;
  text-align: center;
  color: #212121;
  font-size: 20px;
  font-weight: 600;
}

.team__prof {
  margin-top: 12px;
  text-align: center;
  color: #212121;
  font-size: 15px;
  letter-spacing: 0.75px;
}

.team__social {
  margin-top: 29px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team__social .facebook {
  margin: 0px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  background-color: #f0f1f1;
}

.team__social .twitter {
  margin: 0px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  background-color: #f0f1f1;
}

.team__social .sms {
  margin: 0px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  background-color: #f0f1f1;
}

.team__social .net {
  margin: 0px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  background-color: #f0f1f1;
}

.blog {
  padding: 125px 0;
  background-color: #e4fdf9;
}

.blog__col {
  margin-top: 127px;
}

.blog__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 2px;
}

.blog__item:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.blog__item:nth-child(even) .blog__image {
  margin-right: 0;
  margin-left: 30px;
}

.blog__image {
  margin-right: 30px;
  margin-left: 0;
}

.blog__image img {
  max-width: 570px;
}

.blog__info {
  margin-top: 61px;
}

.blog__title {
  color: #212121;
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 1.25px;
}

.blog__descr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 26px;
}

.blog__data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog__data .data-icon {
  margin-right: 13px;
}

.blog__category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 40px;
}

.blog__category .category-icon {
  margin-right: 13px;
}

.blog__text {
  margin-top: 28px;
  color: #212121;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0.75px;
}

.contact {
  padding: 128px 0 110px;
  background: url("../img/contact-bg.png") center center/cover no-repeat;
}

.contact__row {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.contact__item {
  text-align: center;
  margin-top: 20px;
}

.contact__icon {
  width: 105px;
  height: 105px;
  background-color: #3949ab;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  margin: 0px auto;
}

.contact__text {
  margin-top: 40px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
}

.contact__text a {
  color: #fff;
}

.contact__form {
  margin-top: 79px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact__inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact__input {
  padding: 35px 20px;
  margin: 0px 15px;
  width: 500px;
  height: 84px;
  border-radius: 10px;
  background-color: #ffffff;
  color: #212121;
  font-size: 20px;
  font-weight: 600;
}

.contact__textarea {
  padding: 30px 20px;
  width: 1031px;
  height: 323px;
  border-radius: 10px;
  background-color: #ffffff;
  margin: 35px auto 0;
  color: #212121;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  resize: none;
}

.contact__btn {
  width: 220px;
  height: 70px;
  border-radius: 10px;
  background-color: #ffffff;
  color: #212121;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 39px 70px 0 auto;
}

.footer {
  padding: 22px;
  text-align: center;
  color: #212121;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 700;
}

.title {
  color: #212121;
  font-size: 30px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 1.5px;
  text-align: center;
}

.title_w {
  color: #fff;
}

.subtitle {
  margin-top: 36px;
  padding: 0px 218px;
  color: #212121;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.75px;
  text-align: center;
}

.subtitle_w {
  color: #fff;
}

.btn {
  background-color: #00897b;
  width: 220px;
  height: 70px;
  margin: 130px auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn span {
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
}

@media (min-width: 992px) {
  .nav-menu__link a:hover {
    text-decoration: underline;
  }

  .header-links__item:hover {
    background-color: #00897b;
    border: none;
  }

  .services-item:hover {
    background-color: #00897b;
  }

  .services-item:hover .services-item__img .no-hover {
    display: none;
  }

  .services-item:hover .services-item__img .hover {
    display: block;
    margin: 0px auto;
  }

  .services-item:hover .services-item__title {
    color: #fff;
  }

  .services-item:hover .services-item__text {
    color: #fff;
  }

  .services-item:hover .services-item__btn {
    border: 2px solid #fff;
  }

  .services-item:hover .services-item__btn span {
    color: #fff;
  }

  .pricing__item:hover {
    -webkit-box-shadow: 0 3px 25px rgba(0, 0, 0, 0.35);
            box-shadow: 0 3px 25px rgba(0, 0, 0, 0.35);
  }

  .pricing__btn:hover {
    background-color: #00897b;
    border: none;
    color: #fff;
  }

  .team__social .facebook:hover {
    background-color: #3949ab;
  }

  .team__social .twitter:hover {
    background-color: #3949ab;
  }

  .team__social .sms:hover {
    background-color: #3949ab;
  }

  .team__social .net:hover {
    background-color: #3949ab;
  }

  .blog__title:hover {
    color: #00897b;
  }
}

@media (max-width: 1200px) {
  .latest__item {
    width: 300px;
    height: 300px;
  }

  .latest__img {
    width: 300px;
    height: 300px;
  }

  .latest__img img {
    width: 300px;
    height: 300px;
  }
}

@media (max-width: 1160px) {
  .services__row {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .services__item {
    padding: 30px;
  }

  .pricing__item {
    width: 300px;
  }

  .team__avatar img {
    max-width: 300px;
  }
}

@media (max-width: 1060px) {
  .contact__textarea {
    width: 900px;
  }
}

@media (max-width: 1030px) {
  .blog__image img {
    max-width: 500px;
  }
}

@media (max-width: 996px) {
  .latest__content {
    grid-template-columns: 1fr 1fr;
  }

  .latest__item {
    width: 370px;
    height: 370px;
  }

  .latest__item .latest__info {
    opacity: 1;
    visibility: visible;
  }

  .latest__img {
    width: 370px;
    height: 370px;
  }

  .latest__img img {
    width: 370px;
    height: 370px;
  }
}

@media (max-width: 970px) {
  .pricing__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (max-width: 960px) {
  .pricing__item {
    width: 370px;
  }

  .contact__textarea {
    width: 750px;
  }
}

@media (max-width: 940px) {
  .nav-menu__link a {
    font-size: 16px;
  }
}

@media (max-width: 920px) {
  .blog__image img {
    max-width: 450px;
  }

  .subtitle {
    padding: 0px 60px;
  }
}

@media (max-width: 810px) {
  .contact__textarea {
    width: 600px;
  }
}

@media (max-width: 800px) {
  .nav-menu__link {
    margin: 0px 15px;
  }

  .services__item {
    max-width: 350px;
  }

  .latest__item {
    width: 300px;
    height: 300px;
  }

  .latest__img {
    width: 300px;
    height: 300px;
  }

  .latest__img img {
    width: 300px;
    height: 300px;
  }

  .blog__image img {
    max-width: 350px;
  }

  .blog__info {
    margin-top: 20px;
  }
}

@media (max-width: 775px) {
  .pricing__item {
    width: 300px;
  }
}

@media (max-width: 750px) {
  .pricing__item {
    -webkit-box-shadow: 0 3px 25px rgba(0, 0, 0, 0.35);
            box-shadow: 0 3px 25px rgba(0, 0, 0, 0.35);
  }
}

@media (max-width: 730px) {
  .nav__inner {
    height: 70px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .nav__icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .nav-menu__icon {
    display: block;
    width: 40px;
    height: 40px;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
  }

  .nav-menu__icon span {
    display: inline-block;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    width: 100%;
    height: 5px;
    background-color: #000;
  }

  .nav-menu__icon_active span {
    background-color: #fff;
  }

  .nav-menu__icon_active span:nth-child(1) {
    -webkit-transform: translateY(12px) rotate(-45deg);
        -ms-transform: translateY(12px) rotate(-45deg);
            transform: translateY(12px) rotate(-45deg);
  }

  .nav-menu__icon_active span:nth-child(2) {
    opacity: 0;
    visibility: hidden;
  }

  .nav-menu__icon_active span:nth-child(3) {
    -webkit-transform: translateY(-16px) rotate(45deg);
        -ms-transform: translateY(-16px) rotate(45deg);
            transform: translateY(-16px) rotate(45deg);
  }

  .nav-search__icon {
    display: block;
  }

  .nav__logo {
    -ms-flex-item-align: center;
        align-self: center;
  }

  .nav-menu__list {
    position: absolute;
    top: 0;
    right: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
  }

  .nav-menu__list_active {
    width: 100%;
    height: 400px;
    padding: 50px;
    right: 0;
    overflow: scroll;
  }

  .nav-menu__links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow: scroll;
  }

  .nav-menu__link:last-child {
    display: none;
  }

  .nav-menu__link {
    margin: 15px 0;
  }

  .nav-menu__link a {
    font-size: 25px;
    color: #fff;
  }

  .header {
    margin-top: 70px;
  }

  .header__title {
    margin-top: 60px;
    font-size: 50px;
  }

  .header__links {
    margin-top: 50px;
  }

  .down {
    margin-bottom: 40px;
  }

  .about {
    padding: 75px 0;
  }

  .about__row {
    margin-top: 50px;
  }

  .services {
    padding: 75px 0;
  }

  .services__row {
    margin-top: 50px;
  }

  .latest {
    padding: 75px 0;
  }

  .latest__tabs {
    margin-top: 50px;
  }

  .latest__content {
    margin-top: 40px;
  }

  .pricing {
    padding: 75px 0;
  }

  .team {
    padding: 75px 0;
  }

  .team__slider {
    margin-top: 50px;
  }

  .team__slider .slick-dots {
    margin-top: 20px;
  }

  .blog {
    padding: 75px 0;
  }

  .blog__col {
    margin-top: 60px;
  }

  .blog__item {
    margin-top: 20px;
  }

  .contact {
    padding: 75px 0;
  }

  .contact__text {
    font-size: 17px;
  }

  .contact__btn {
    margin: 39px auto 0;
  }
}

@media (max-width: 690px) {
  .blog__item:nth-child(even) .blog__image {
    margin: 0;
  }

  .blog__item {
    margin-top: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    text-align: center;
  }

  .blog__item:nth-child(even) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .blog__image img {
    max-width: 500px;
    margin-top: 15px;
  }

  .blog__image {
    margin: 0;
  }

  .blog__descr {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 10px;
  }

  .blog__text {
    margin-top: 10px;
  }
}

@media (max-width: 660px) {
  .latest__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .latest__content_show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .latest__content_hide {
    display: none;
  }

  .team__avatar img {
    max-width: 250px;
  }

  .contact__input {
    width: 250px;
  }
}

@media (max-width: 650px) {
  .pricing__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .pricing__item {
    width: 400px;
  }
}

@media (max-width: 640px) {
  .header__title {
    font-size: 45px;
  }

  .header__subtitle {
    font-size: 21px;
  }

  .header-link__a {
    font-size: 17px;
  }

  .down {
    margin: 70px 0 40px;
  }
}

@media (max-width: 630px) {
  .latest__tab {
    font-size: 17px;
  }

  .contact__textarea {
    width: 400px;
  }
}

@media (max-width: 600px) {
  .contact__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 576px) {
  .about__item {
    margin-top: 25px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 400px;
            flex: 0 0 400px;
  }

  .about__title {
    margin-top: 20px;
  }
}

@media (max-width: 550px) {
  .contact__inputs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .contact__input {
    margin: 15px 0 0;
    width: 100%;
  }

  .contact__textarea {
    margin-top: 15px;
  }
}

@media (max-width: 540px) {
  .latest__tabs {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .latest__tab_all {
    width: 180px;
  }

  .team__avatar img {
    max-width: 300px;
  }

  .blog__image img {
    max-width: 400px;
  }
}

@media (max-width: 530px) {
  .header-links__item {
    width: 150px;
  }

  .header-link__a {
    font-weight: 600;
  }
}

@media (max-width: 500px) {
  .header__title {
    font-size: 30px;
  }

  .header__subtitle {
    font-size: 18px;
  }

  .subtitle {
    padding: 0;
  }
}

@media (max-width: 440px) {
  .about__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  .blog__image img {
    max-width: 350px;
  }
}

@media (max-width: 430px) {
  .pricing__item {
    width: 290px;
  }

  .contact__textarea {
    width: 100%;
  }
}

@media (max-width: 400px) {
  .header__links {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .header-links__item {
    margin: 5px 0;
  }
}

@media (max-width: 380px) {
  .blog__image img {
    max-width: 290px;
  }
}

@media (max-width: 360px) {
  .contact__text {
    margin-top: 15px;
  }
}

.webp .header{ background: url(../img/header-bg.webp) center center/cover no-repeat; }

.webp .contact{ background: url(../img/contact-bg.webp) center center/cover no-repeat; }